<div class="container-fluid">
  <h2>How's your math?</h2>
  <form [formGroup]="mathForm">
    <!-- {{ mathForm.controls.a }} +  {{ mathForm.controls.b }} -->
    <div class="stats">
      {{ a }} + {{ b }} =
      <input appAnswerHighlight formControlName="answer" />
    </div>
  </form>
  <div class="stats">
    <b>{{ secondsPerSolution | number: '1.1-3' }}</b>
  </div>
  <hr />

  <div>
    <p>
      Form is invalid: {{ mathForm.valid }}
    </p>
    <p>
      Form values: {{ mathForm.value | json }}
    </p>
    <p>
      Form errors: {{ mathForm.errors | json }}</p>
  </div>
